.container{
    width: 94%;
    margin: 0 auto;
}

section{
    padding: 50px 0;
}

section h1{
    font-size: 36px; 
}

nav{
    background-color: #4E4E4E; 
}

nav a{
    text-decoration: none;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.nav-firma{
    font-weight: 700;
    color: #FFF; 
}

.nav-link{ 
    display: none;      
}

.nav-link a{
    font-weight: 400;   
    color: #F1F1F1;
    margin-left: 50px;
}

.nav-contact{
    cursor: not-allowed;
}

.landing-page h1{
    color: #FFF;
    width: 65%;
}

.landing-page p{
    font-weight: 700;
}

.landing-page{
    height: calc(100vh - 50px);
    padding: 0;
    background-image: url(../picture/fog-640.jpg);    
    background-position: center;
    background-size: cover;
    color: #FFF;
}

.landing-page-shadow{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.15);
}

.landing-page-shadow .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 35%;
}

.landing-page-btn{
    padding: 10px 55px;
    font-weight: 700;
    border: 3px solid  #FFF;
    color: #FFF;
    text-decoration: none;
    background-color: transparent;

    transition: 1s;
}

.landing-page-btn:hover{
    background-color: #FFF;
    color: #000;
}

.about h1{
    color: #152D41;
    margin-bottom: 50px;
    text-align: center;
}

.about h2{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.about{ 
    background-color: #F1F1F1;   
}

.about-employe{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.about-employe:nth-of-type(even){
    flex-direction: column;
}

.about-employe p{
    text-align: justify;
}

.about-employe-pic-one, .about-employe-pic-two{
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #C4C4C4;
    margin-bottom: 50px;
}

.about-employe-pic-one{
    background-image: url(../picture/one.jpg);
    background-position: center;
    background-size: cover;
}

.about-employe-pic-two{
    background-image: url(../picture/two.jpg);
    background-position: center;
    background-size: cover;
}

.offer h1{
    text-align: center;
    font-size: 26px;
    color: #FFF;
    margin-bottom: 50px;
}

.offer h2{
    color: #000;
    font-size: 24px;
    overflow: hidden;
    text-align: center;
}

.offer{
    background-color: #405D78;
}

.offer span{
    font-size: 18px;
    margin-top: 5px;
    overflow: hidden;
    text-align: center;
}

.offer-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
}

.offer-list-content{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
}

.offer-specialist{
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin-bottom: 8.75%;
    background-color: #F1F1F1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
}

.offer-specialist:nth-of-type(1) .offer-specialist-point {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 22px;
    height: 22px;
    background-color: #E07A64;
    border-radius: 50%;
}

footer p{
    font-weight: 700;
    color: #FFF;
}

footer a{
    font-size: 31px;
    text-decoration: none;
    margin-left: 20px;
    color: #FFF;
}

footer {
    background-color: #4E4E4E;
}

footer .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
}

.footer-left{
    margin-top: 50px;
}

.footer-right{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 10px;
    
}