@media (min-width: 576px){
    .offer-specialist{
        width: 45.62%;
        padding-bottom: 45.62%;
        margin-right: 8.75%;
        transition:  0.5s;
    }

    .offer-specialist:hover{
        transform: scale(1.05);
    }

    .offer-specialist:nth-of-type(2n){
        margin-right: 0;
    }

    footer .container{
        height: 70px;
        justify-content: space-between;
        flex-direction: row;
    }

    .footer-left{
        margin-top: 0; 
    }

    .footer-right{
        margin-bottom: 0;
        margin-top: 0;
    }
}

@media (min-width: 768px){
    .nav-link{
        display: flex;
        justify-content: space-between;
    }

    .landing-page{
        background-image: url(../picture/fog-920.jpg); 
    }

    .about h1{
        text-align: left;
    }

    .about-employe{
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0;
    }

    .about-employe:nth-of-type(even){
        flex-direction: row-reverse;
        text-align: right;
    }

    .about-employe p{
        text-align: unset;
    }

    .about-employe-desc{
        width: calc(100% - 250px);
    }

    .about-employe-pic-one, .about-employe-pic-two{
        margin: 0;
    }

    .offer h1{
        text-align: left;
        font-size: 36px;;
    }

    .offer-wrapper{
        width: 720px;
    }     
}