*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}

p, a{
    font-size: 18px;
    font-weight: 400;
}

h1 {
    font-weight: 700;
}